# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# Flutter
.dart_tool/
.flutter-plugins/
.flutter-plugins-dependencies/
.ios/
.android/
build/
*.iml
*.packages
.idea/
.vscode/

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.env*
